<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link rel="stylesheet" type="text/css" href="../public/css/menuside.css">
    <link href="../public/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">

</head>

<body>

    <div class="container-fuild">
        {{>components/navbar}}
        <div class="row m-0">
            <div class="col-md-2 p-0">
                {{> components/menuside}}
            </div>
            <div class="col-md-10">
                <div class="row py-2">
                    <div class="col-md-6">
                        <h3>Danh Sách Khách Hàng</h3>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary mx-2 " data-toggle="modal"
                            data-target="#PopupCreatePerson">Khách hàng mới</button>
                    </div>
                </div>
                <div class="row my-2">
                    <table class="table table-striped" id="tbPhieu">
                        <thead>
                            <tr>
                                <th scope="col" width="5%">ID</th>
                                <th scope="col" width="20%">Tên Khách Hàng</th>
                                <th scope="col" width="15%">Số Điện Thoại</th>
                                <th scope="col" width="10%">Email</th>
                                <th scope="col" width="15%">Địa Chỉ</th>
                                <th scope="col" width="10%">Tiền Nợ</th>
                                <th scope="col" width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each khachhang}}
                            <tr>
                                <th scope="row">{{IDPERSON}}</th>
                                <td>{{HOTEN}}</td>
                                <td>{{SODIENTHOAI}}</td>
                                <td>{{EMAIL}}</td>
                                <td>{{DIACHI}}</td>
                                <td>{{TIENNO}}</td>
                                <td class="d-flex justify-content-left">
                                    <button type="button" class="btn btn-danger"><i
                                            class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class=" col-md-11 d-flex justify-content-end">
                </div>
            </div>
        </div>
    </div>
    {{>components/PopupNewPerson}}




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../public/js/PhieuBan.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSubmit').click(function(event){
                event.preventDefault();
                const data=$('#formNewPerson').serializeArray();
                jQuery.post('/admin/KhachHang/NewPerson',data,function(resp,status){
                    console.log(resp);
                })
            })
        });
    </script>

</body>

</html>