<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

    <div class="card-flyer">
        <div class="text-box">
            <div class="image-box">
                <a href="/admin/Book/IDBook={{IDSACH}}">
                    <img src="{{#if IMAGE}} \\{{IMAGE}} {{else}}https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg{{/if}}"
                        alt="" style="width:300px;height:250px;"/>
                </a>

            </div>
            <div class="text-container">
                <a href="/admin/Book/IDBook={{IDSACH}}">
                    <h6 class="text-truncate">{{TEN}}</h6>
                </a>

                <button type="button" class="btn btn-outline-primary PhieuBan" value="{{IDSACH}}"><i class="fas fa-plus-circle"></i> Bán</button>
                <button type="button" class="btn btn btn-primary PhieuNhap" value="{{IDSACH}}"><i class="fas fa-plus-circle"></i> Nhập</button>
            </div>

        </div>
    </div>
</div>
